body {
  font-family: Arial, Helvetica;
}

#startExperimentButton {
  display: inline-block;
  color: black;
  border: 3px outset gray;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-weight: bold;
}

#startExperimentButton:hover {
  border: 3px inset gray;
}

#startExperimentButton:active {
  border: 3px inset gray;
}

#startExperimentButton {
  display: none;
}

#SameButton {
  display: inline-block;
  color: black;
  border: 3px outset gray;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-weight: bold;
}
#SameButton:hover {
  border: 3px inset gray;
}
#SameButton:active {
  border: 3px inset gray;
}
#SameButton {
  display: none;
}
#DiffButton {
  display: inline-block;
  color: black;
  border: 3px outset gray;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-weight: bold;
}
#DiffButton:hover {
  border: 3px inset gray;
}
#DiffButton:active {
  border: 3px inset gray;
}
#DiffButton {
  display: none;
}

#loading {
  font-size: 14pt;
  font-style: italic;
}

#consentDiv {
  font-size:9pt;
  font-family: Arial, Helvetica;
  padding:10px;
  border:1px dashed gray;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 30px;
}

#instructions {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 30px;
}


#done {
  display: none;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 30px;
}


#doneText {
  position: relative;
  width: 600px;
  top: 55px;
  text-align: center;
  font-size: 20px;
}

#popQuiz {
  position: absolute;
  width: 600px;
  top: 550px;
  text-align: center;
  font-size: 18px;
}

#underText {
  position: relative;
  width: 600px;
  top: 620px;
  text-align: center;
  font-size: 20px;
}

#underText2 {
  position: relative;
  width: 600px;
  top: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#saving {
  display: none;
  position: absolute;
  width: 600px;
  top: 235px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#survey2text {
  position: relative;
  width: 600px;
  top: 55px;
  text-align: center;
  font-size: 20px;
}


#submitForm {
  font-weight: bold;
  color: black;
  border: 3px outset gray;
  background: #CCC;
  padding: 5px;
  text-decoration: none;
  position: relative;
  top: 60px;
  left: 215px;
}

#submitForm:hover {
  border: 3px solid gray;
}

#submitForm:active {
  border: 3px inset gray;
}

.likertButtons label {
  display: inline-block;
  text-align: center;
  margin: 0 0.2em;
}
.likertButtons label input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}
